<div *ngIf="dataLoaded == false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden"></span>
</div>

<div *ngIf="dataLoaded == true" class="mb-3">
  <label for="filterText" class="form-label">Search Car</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search">
</div>

<div class="alert alert-info" *ngIf="dataLoaded == true && filterText">
  Result for "{{filterText}}"
</div>

<table *ngIf="dataLoaded == true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Daily Price</th>
            <th>Model Year</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carDetail of carDetails | filter: filterText">
            <td>{{ carDetail.carId }}</td>
            <td>{{ carDetail.carName }}</td>
            <td>{{ carDetail.brandName }}</td>
            <td>{{ carDetail.colorName }}</td>
            <td>{{ carDetail.dailyPrice }}</td>
            <td>{{ carDetail.modelYear }}</td>
        </tr>
    </tbody>
    
</table>